<?php
/**
 * LogsApi
 * PHP version 5
 *
 * @category Class
 * @package  BumbalCommunicationServer
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Bumbal Communication Server API
 *
 * Bumbal Communication Server API documentation
 *
 * OpenAPI spec version: 1.0
 * Contact: gerb@bumbal.eu
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace BumbalCommunicationServer\BumbalCommunicationServer\API;

use \BumbalCommunicationServer\ApiClient;
use \BumbalCommunicationServer\ApiException;
use \BumbalCommunicationServer\Configuration;
use \BumbalCommunicationServer\ObjectSerializer;

/**
 * LogsApi Class Doc Comment
 *
 * @category Class
 * @package  BumbalCommunicationServer
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class LogsApi
{
    /**
     * API Client
     *
     * @var \BumbalCommunicationServer\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \BumbalCommunicationServer\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\BumbalCommunicationServer\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \BumbalCommunicationServer\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \BumbalCommunicationServer\ApiClient $apiClient set the API client
     *
     * @return LogsApi
     */
    public function setApiClient(\BumbalCommunicationServer\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation retrieveListLog
     *
     * Retrieve List of Activities
     *
     * @param \BumbalCommunicationServer\BumbalCommunicationServer\Model\LogRetrieveListArguments $arguments Log RetrieveList Arguments (required)
     * @throws \BumbalCommunicationServer\ApiException on non-2xx response
     * @return \BumbalCommunicationServer\BumbalCommunicationServer\Model\LogListResponse
     */
    public function retrieveListLog($arguments)
    {
        list($response) = $this->retrieveListLogWithHttpInfo($arguments);
        return $response;
    }

    /**
     * Operation retrieveListLogWithHttpInfo
     *
     * Retrieve List of Activities
     *
     * @param \BumbalCommunicationServer\BumbalCommunicationServer\Model\LogRetrieveListArguments $arguments Log RetrieveList Arguments (required)
     * @throws \BumbalCommunicationServer\ApiException on non-2xx response
     * @return array of \BumbalCommunicationServer\BumbalCommunicationServer\Model\LogListResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function retrieveListLogWithHttpInfo($arguments)
    {
        // verify the required parameter 'arguments' is set
        if ($arguments === null) {
            throw new \InvalidArgumentException('Missing the required parameter $arguments when calling retrieveListLog');
        }
        // parse inputs
        $resourcePath = "/log";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // body params
        $_tempBody = null;
        if (isset($arguments)) {
            $_tempBody = $arguments;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('ApiKey');
        if (strlen($apiKey) !== 0) {
            $headerParams['ApiKey'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                '\BumbalCommunicationServer\BumbalCommunicationServer\Model\LogListResponse',
                '/log'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\BumbalCommunicationServer\BumbalCommunicationServer\Model\LogListResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\BumbalCommunicationServer\BumbalCommunicationServer\Model\LogListResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation retrieveLog
     *
     * Retrieve a log entry
     *
     * @param int $log_id ID of log id to return (required)
     * @param bool $include_additional_data Show the text value of the status (required)
     * @throws \BumbalCommunicationServer\ApiException on non-2xx response
     * @return \BumbalCommunicationServer\BumbalCommunicationServer\Model\LogModel
     */
    public function retrieveLog($log_id, $include_additional_data)
    {
        list($response) = $this->retrieveLogWithHttpInfo($log_id, $include_additional_data);
        return $response;
    }

    /**
     * Operation retrieveLogWithHttpInfo
     *
     * Retrieve a log entry
     *
     * @param int $log_id ID of log id to return (required)
     * @param bool $include_additional_data Show the text value of the status (required)
     * @throws \BumbalCommunicationServer\ApiException on non-2xx response
     * @return array of \BumbalCommunicationServer\BumbalCommunicationServer\Model\LogModel, HTTP status code, HTTP response headers (array of strings)
     */
    public function retrieveLogWithHttpInfo($log_id, $include_additional_data)
    {
        // verify the required parameter 'log_id' is set
        if ($log_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $log_id when calling retrieveLog');
        }
        // verify the required parameter 'include_additional_data' is set
        if ($include_additional_data === null) {
            throw new \InvalidArgumentException('Missing the required parameter $include_additional_data when calling retrieveLog');
        }
        // parse inputs
        $resourcePath = "/log/{logId}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // query params
        if ($include_additional_data !== null) {
            $queryParams['include_additional_data'] = $this->apiClient->getSerializer()->toQueryValue($include_additional_data);
        }
        // path params
        if ($log_id !== null) {
            $resourcePath = str_replace(
                "{" . "logId" . "}",
                $this->apiClient->getSerializer()->toPathValue($log_id),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('ApiKey');
        if (strlen($apiKey) !== 0) {
            $headerParams['ApiKey'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\BumbalCommunicationServer\BumbalCommunicationServer\Model\LogModel',
                '/log/{logId}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\BumbalCommunicationServer\BumbalCommunicationServer\Model\LogModel', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\BumbalCommunicationServer\BumbalCommunicationServer\Model\LogModel', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation truncateLog
     *
     * Truncate Log Table
     *
     * @throws \BumbalCommunicationServer\ApiException on non-2xx response
     * @return \BumbalCommunicationServer\BumbalCommunicationServer\Model\ApiResponse
     */
    public function truncateLog()
    {
        list($response) = $this->truncateLogWithHttpInfo();
        return $response;
    }

    /**
     * Operation truncateLogWithHttpInfo
     *
     * Truncate Log Table
     *
     * @throws \BumbalCommunicationServer\ApiException on non-2xx response
     * @return array of \BumbalCommunicationServer\BumbalCommunicationServer\Model\ApiResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function truncateLogWithHttpInfo()
    {
        // parse inputs
        $resourcePath = "/log/truncate";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);


        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('ApiKey');
        if (strlen($apiKey) !== 0) {
            $headerParams['ApiKey'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\BumbalCommunicationServer\BumbalCommunicationServer\Model\ApiResponse',
                '/log/truncate'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\BumbalCommunicationServer\BumbalCommunicationServer\Model\ApiResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\BumbalCommunicationServer\BumbalCommunicationServer\Model\ApiResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
